<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.ecoinsight.community.model.dao.CommunityCommentMapper">
<!--댓글 쓰기-->
	<insert id="insertCommunityComment" parameterType="com.semi.ecoinsight.comment.model.dto.CommentDTO">
		INSERT
		  INTO
		  	   TB_COMMUNITY_COMMENT
		  	   (
			    BOARD_NO
			  , MEMBER_NO
			  , COMMENT_CONTENT
			  , PARENT_COMMENT_NO	
			    )
		VALUES 
	    	 (
			    #{boardNo}
			  , #{memberNo}	
			  , #{commentContent}
			  , #{parentCommentNo}
			 )  	   
	</insert>
	
	<!--댓글 목록-->
	<select id= "findCommunityCommentList" parameterType="long" resultType="com.semi.ecoinsight.comment.model.dto.CommentDTO">
		SELECT 
		       COMMENT_NO commentNo
		     , BOARD_NO boardNo
		     , MEMBER_NO memberNo
		     , COMMENT_CONTENT commentContent
		     , PARENT_COMMENT_NO parentCommentNo
		     , CREATED_DATE createdDate
	    FROM 
	          TB_COMMUNITY_COMMENT
	    WHERE 
	          BOARD_NO = #{boardNo}
	      AND 
	          IS_DELETED = 'N'
	    ORDER 
	       BY 
	          CREATED_DATE ASC
	</select>
	
	<!--댓글 조회-->
	<select id="commentCount" parameterType="long" resultType="long" >
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_COMMUNITY_COMMENT
		 WHERE
		 	   BOARD_NO = #{boardNo}
		   AND
		   	   IS_DELETED = 'N' 	   
	</select>
	
	<!--댓글 수정하기-->
	<update id="updateComment" parameterType="com.semi.ecoinsight.comment.model.dto.CommentDTO">
		UPDATE 
			   TB_COMMUNITY_COMMENT
		   SET	   								
			   COMMENT_CONTENT = #{commentContent}
			 , PARENT_COMMENT_NO = #{parentCommentNo}
		     , MODIFIED_DATE = SYSDATE		
		 WHERE
		 	   COMMENT_NO = #{commentNo}
	</update>
	
	<!--댓글 삭제하기-->
	<update id="deleteComment" parameterType="long">
		UPDATE
	           TB_COMMUNITY_COMMENT
	       SET
	           IS_DELETED ='Y'  		
	     WHERE
	       	   COMMENT_NO = #{commentNo}
	</update>
</mapper>