<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.ecoinsight.notice.model.dao.NoticeMapper">
    <sql id="noticeSelect">
        SELECT
            BOARD_NO boardNo,
            CATEGORY_ID categoryId,
            MEMBER_NO memberNo,
            BOARD_TITLE boardTitle,
            BOARD_CONTENT boardContent,
            CREATED_DATE createdDate,
            MODIFIED_DATE modifiedDate,
            VIEW_COUNT viewCount,
            IS_DELETED isDeleted,
            MEMBER_ID memberId,
            MEMBER_NAME memberName
        FROM
            TB_NOTICE   
        JOIN
            TB_MEMBER USING(MEMBER_NO)
    </sql>

    <!-- 글 작성 -->
    <insert id="insertNotice" parameterType="com.semi.ecoinsight.board.model.vo.Board"> 
        INSERT INTO
            TB_NOTICE( 
                CATEGORY_ID, 
                MEMBER_NO, 
                BOARD_TITLE, 
                BOARD_CONTENT 
            ) 
        VALUES( 
            #{categoryId},
            #{memberNo}, 
            #{boardTitle}, 
            #{boardContent} 
        ) 
    </insert>

    <!-- 글 번호로 찾기 -->
    <select id="selectNoticeNo" parameterType="long" resultType="long"> 
        SELECT 
            BOARD_NO AS boardNo 
        FROM
            TB_NOTICE 
        WHERE 
            MEMBER_NO = #{memberNo} 
        ORDER BY 
            CREATED_DATE DESC FETCH FIRST 1 ROWS ONLY 
    </select>

    <!-- NoticeCount -->
    <!-- 공지사항 전체 크기조회 -->
    <select id="selectTotalNoticeCount"
            resultType="long">
        SELECT
            COUNT(*)
        FROM
            TB_NOTICE
        WHERE
            IS_DELETED = 'N'
        <if test="category != 'all'">
        AND
            CATEGORY_ID = #{category}
        </if>
    </select>

    <!-- 관리자용 글 갯수 조회-->
    <select id="selectTotalNoticeCountForAdmin"
            resultType="long"> 
        SELECT
            COUNT(*)
        FROM
            TB_NOTICE
        JOIN
            TB_MEMBER USING(MEMBER_NO)
        <if test="search != null">
            WHERE
            <choose>
                <when test="searchType == 'name'">
                    MEMBER_NAME LIKE '%'||#{search}||'%'
                </when>
                <when test="searchType == 'title'">
                    BOARD_TITLE LIKE '%'||#{search}||'%'
                </when>
                <otherwise>
                    MEMBER_NAME LIKE '%'||#{search}||'%'
                    OR
                    BOARD_TITLE LIKE '%'||#{search}||'%'
                </otherwise>
            </choose>
        </if>
    </select>


    <!-- 공지사항 목록 조회 -->
    <select id="selectNoticeList"
        resultType="com.semi.ecoinsight.board.model.dto.BoardDTO">
        <include refid="noticeSelect" />
        WHERE
            IS_DELETED = 'N'
        <if test="category != 'all'">
        AND
            CATEGORY_ID = #{category}
        </if>
        ORDER BY
            CREATED_DATE DESC
        OFFSET #{startIndex} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 관리자용 조회 -->
    <select id="selectNoticeListForAdmin"
        resultType="com.semi.ecoinsight.board.model.dto.BoardDTO">
        <include refid="noticeSelect" />
        <if test="search != null">
            WHERE
            <choose>
                <when test="searchType == 'name'"> 
                    MEMBER_NAME LIKE '%'||#{search}||'%' 
                </when>
                <when test="searchType == 'title'"> 
                    BOARD_TITLE LIKE '%'||#{search}||'%' 
                </when>
                <otherwise> 
                        MEMBER_NAME LIKE '%'||#{search}||'%' 
                    OR    
                        BOARD_TITLE LIKE '%'||#{search}||'%' 
                </otherwise>
            </choose>
        </if>
        ORDER BY
        <choose>
            <when test="sortOrder == 'Newest'">
                CREATED_DATE DESC
            </when>
            <otherwise>
                CREATED_DATE ASC
            </otherwise>
        </choose>
        OFFSET #{startIndex} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>



    <!-- 공지사항 세부페이지 조회 -->
    <select id="selectNoticeDetail"
            resultType="com.semi.ecoinsight.board.model.dto.BoardDTO">
        <include refid="noticeSelect" />
        WHERE
            BOARD_NO = #{boardNo}
        AND
            IS_DELETED = 'N'
    </select>

    <!-- 조회수 증가 -->
    <update id="increaseNoticeViewCount"
        parameterType="long"> 
        UPDATE 
            TB_NOTICE 
        SET 
            VIEW_COUNT = VIEW_COUNT+1 
        WHERE
            BOARD_NO = #{boardNo} 
    </update>


    <!-- SummaryCard -->
    <!-- 이번달 게시글 수 -->
    <select id="selectTotalNoticeCountByMonth">
        SELECT
            COUNT(*)
        FROM
            TB_NOTICE
        WHERE
            TO_CHAR(CREATED_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
    </select>
    <!-- 지난달 게시글 수 -->
    <select id="selectTotalNoticeCountByLastMonth">
        SELECT
            COUNT(*)
        FROM
            TB_NOTICE
        WHERE
            TO_CHAR(CREATED_DATE, 'YYYY-MM') = TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYY-MM')
    </select>
    <!-- 이번달 조회수 -->
    <select id="selectTotalNoticeViewCountByMonth">
        SELECT
            SUM(VIEW_COUNT)
        FROM
            TB_NOTICE
        WHERE
            TO_CHAR(CREATED_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
    </select>
    <!-- 지난달 조회수 -->
    <select id="selectTotalNoticeViewCountByLastMonth">
        SELECT
            SUM(VIEW_COUNT)
        FROM
            TB_NOTICE
        WHERE
            TO_CHAR(CREATED_DATE, 'YYYY-MM') = TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYY-MM')
    </select>
    <!-- 전체 조회수 -->
    <select id="selectTotalViewCount">
        SELECT
            SUM(VIEW_COUNT)
        FROM
            TB_NOTICE
    </select>
</mapper>